<h2>New Celebrity</h2>

<form action='/celebrities/new' method='POST'>
  <p>Name: </p>
  <input type='text' name='theName'>

  <p>Occupation: </p>
  <input type='text' name='theOccupation'>

  <p>Catch Phrase: </p>
  <input type='text' name='theCatchPhrase'>

  <button type='submit'>Save</button>
</form>