


<div class='loggedin-main-page'>


{{#if theUser}}
<a id='secret-profile' href='/users/secret'>
    <img src='/images/profile-icon.png'>
    <p>Profile</p>
</a>
{{/if}}

<div class='main-page'>
<a href='/movies'>
    <img src='/images/movie-icon.png'>
    <p>Movies</p>
</a>


<a href='/celebrities'>
    <img src='/images/celeb-icon.png'>
    <p>Celebrities</p>
</a>

</div>





</div>
