body {
  margin: 0;
}

.nav{
  height: 75px;
}

.nav ul{
  width: 100%;
  display:flex;
  justify-content: space-around;
  color: black;
}

#logout-btn button{
  background: none!important;
  border: none;
  padding: 0!important;
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.main-page{
  width: 100%;
  height: 100%;
  padding: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-page a{
  padding: 30px;
  color: white;
  background: lightblue;
  border-radius: 5px;
  width:200px;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}


.main-page img{
  width: 100px;
}


.loggedin-main-page{
  width:100%;
  height:100%;
  padding: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#secret-profile{
  margin: 20px;
  padding: 30px;
  color: white;
  background: lightblue;
  border-radius: 5px;
  width:250px;
  height: 250px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#secret-profile img{
  width: 100px;
}


.all-movies{
  margin: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movies-div{
  width: 300px;
  margin: 50px;
  background-color: lightblue;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}

.new-movie-page{
  margin: 30px;
}



.new-movie-form{
  margin: 100px; 
  display:flex;
  flex-direction: column;
  background-color: lightpink;
}


.new-movie-form div{
  margin: 20px;
  display:flex;
  flex-direction: row;
}

.form-save{
  align-self: flex-end;
}

.form-save button{
  margin-right: 100px; 
}


.new-movie-form p{
  margin: 15px;
}


.new-link{
  text-align: center;
  padding: 15px;
}

.new-link a{
  padding: 15px;
  background-color: lightslategray;
  color: white;
  text-decoration: none;
}


