<h2>Movies</h2>


<div class='all-movies'>


{{#each allMovies}}


<div class='movies-div'>

<a class='title-link' href='/movies/{{this._id}}'>
<p>{{this.title}}</p>
</a>


<a class='edit-link' href='/movies/{{this._id}}/edit'>Edit</a>


<form class='delete-btn' action='/movies/{{this._id}}/delete' method='POST'>
  <button type='submit'>Delete</button>
</form>



</div>


{{/each}}



</div>



<br>

<div class='new-link'>
  <a href='/movies/new'>Create new movie</a>
</div>
